---
import SearchWidget from './SearchWidget.astro';
const base = import.meta.env.BASE_URL;
---
<div class="icon-bar">
    <a href="https://www.youtube.com/@NischalKhanal">
        <img src="https://lukesmith.xyz/pix/yt.svg" alt="youtube" />
    </a>
    <a href="https://x.com/Nischal_khanal1">
        <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/x-social-media-round-icon.svg" alt="x" />
    </a>
    <a href="https://github.com/hunter-420">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmrGmeBv3SOLSKz6OlTVlVYkfH9_W3BBgdrA&s" alt="github" />
    </a>
    <SearchWidget />
</div>
